.wrap-card{
    background-color: #192642;
    padding: 12px;
    border-radius: 8px;
}.avt-reviewer{
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #fff;
    object-fit: contain;
}

